div
  select(ng-model="selectedAvatar" ng-options="avatar for avatar in avatarsList" ng-change="update(avatar)")
    option --Selectionnez un avatar--
  img(ng-class="selectedAvatar+'-img'")
  img(src="../public/assets/avatars/elephant.png", alt="", srcset="")










