div
  div
    form
      .form-block
        select.form-component.border-radius.border-blue(
          ng-model="selectedUser" 
          ng-options="user for user in users" ng-change="displayUserScores(selectedUser)")
          option(value="") -Choisir un joueur-
    table
      thead.bg-blue
        tr
          th(scope='col') Date
          th(scope='col') Score
          th(scope='col') Statut
      tbody
        tr(ng-repeat="infos in userScores" scope="row")
          td {{ infos.date }}
          td {{ infos.score }}
          td 
            span.badge(ng-class="setBadgeStyle(infos.playerStatus)" class="badge") {{ infos.playerStatus }}
            