.container
    form
    .form-group.row
        .col-sm-10
        input.form-control(type='text', placeholder='pseudo')
    fieldset.form-group
        .btn-group(data-toggle='buttons')
        label.btn.btn-warning.active
            input(type='radio', autocomplete='off' name="color-radio" value="yellow")
            |  Yellow
        label.btn.btn-success
            input(type='radio', autocomplete='off' name="color-radio" value="green")
            |  Green
        label.btn.btn-danger
            input(type='radio', autocomplete='off' name="color-radio" value="red")
            |  Red
        label.btn.btn-info
            input(type='radio', autocomplete='off' name="color-radio" value="blue")
            |  Blue
    .form-group.row
        .col-sm-10
        button.btn.btn-primary(type='submit') Sign in
