.elephant-img {
  background-image: url('../assets/avatars/elephant.png');
}

.giraffe-img {
  background-image: url('../assets/avatars/giraffe.png');
}

.hippo-img {
  background-image: url('../assets/avatars/hippo.png');
}

.monkey-img {
  background-image: url('../assets/avatars/monkey.png');
}

.panda-img {
  background-image: url('../assets/avatars/panda.png');
}

.parrot-img {
  background-image: url('../assets/avatars/parrot.png');
}
