body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}

#canvas {
  background: #a01a1a;
  margin: auto;
}

h1 {
  font-family: 'Sofia', cursive;
  color: #ffffff;
}

.bg-blue {
  background-color: #4179f7;
}

.elephant-img {
  background-image: url('../assets/avatars/elephant.png');
}

.giraffe-img {
  background-image: url('../assets/avatars/giraffe.png');
}

.hippo-img {
  background-image: url('../assets/avatars/hippo.png');
}

.monkey-img {
  background-image: url('../assets/avatars/monkey.png');
}

.panda-img {
  background-image: url('../assets/avatars/panda.png');
}

.parrot-img {
  background-image: url('../assets/avatars/parrot.png');
}

.img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

.login-button {
  margin-top: 20px;
}

.paragraphe {
  text-align: center;
  margin: 0;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 72px;
}

.card-width {
  max-width: 350px;
}
