include includes/head
  block content
      canvas(id="canvas")
  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(src="scripts/square.js")    
  script(src="scripts/fence.js")    
  script(src='scripts/index.js')