<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1 shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Les petits carrés de Claire
    link(rel="icon" href="assets/favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Roboto|Sofia" rel="stylesheet")
    link(rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css")

    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/avatars.css")
    link(rel="stylesheet", href="/styles/table.css")
    link(rel="stylesheet", href="/styles/badge.css")
    link(rel="stylesheet", href="/styles/grid.css")

  body(ng-app="app")
    .header.bg-blue.shadow
      h1.pointer(ui-sref="login") Les petits carrés de
        span.header-span Claire
      a.header-link(ui-sref="scores") Hall of Fame
    .container(ui-view="")
    noscript
      a(href="https://www.enable-javascript.com/fr/") Comment activer Javascipt ?
    script(src="/socket.io/socket.io.js")
    script(src="vendors/angular.min.js")
    script(src="vendors/angular-ui-router.min.js")
    script(src="scripts/app.js")
    script(src="scripts/controllers/login.controller.js")
    script(src="scripts/controllers/game.controller.js")
    script(src="scripts/controllers/scores.controller.js")
    script(src="scripts/directives/canvas.directive.js")
    script(src="scripts/services/login.service.js")
    script(src="scripts/services/socket.service.js")
    script(src="scripts/services/scores.service.js")
    script(src="scripts/services/token.service.js")

