<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
    link(rel="stylesheet", href="/styles/main.css")

  body(ng-app="app")
    div(ui-view="")
    script(src="/socket.io/socket.io.js")
    script(src="scripts/angular.min.js")
    script(src="scripts/angular-ui-router.min.js")
    script(src="scripts/app.js")
    script(src="scripts/controllers/login.controller.js")
    script(src="scripts/controllers/game.controller.js")
    script(src="scripts/directives/canvas.directive.js")
    script(src="scripts/services/login.service.js")
    script(src="scripts/services/socket.service.js")
    script(src="scripts/services/token.service.js")
    script(src="scripts/services/game.service.js")
