include includes/head
    block content
    h1 Small squares
    form.form-inline(action='/' method="POST")
        label.mr-sm-2.mb-0.sr-only(for='pseudo') First Name
        input#pseudo.form-control.mr-sm-2.mb-2.mb-sm-0(type='text', name='pseudo', placeholder='First name')
        button.btn.btn-default.mt-2.mt-sm-0(type='submit') Submit
